*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f8f6f1;

color:#111;

font-family:'EB Garamond', serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

text-align:center;

}

h1{

font-size:4rem;

font-weight:400;

margin-bottom:60px;

letter-spacing:1px;

}

nav{

display:flex;

gap:40px;

justify-content:center;

}

a{

text-decoration:none;

color:#111;

font-size:1.3rem;

transition:.3s;

}

a:hover{

opacity:.4;

}
